const Sequelize = require('sequelize');

module.exports = sequelize => {
  const <%= cModelName %> = sequelize.define('<%= pModelName %>', {
    id: {
      type: Sequelize.INTEGER,
      primaryKey: true,
      autoIncrement: true,
    },<% for (let i in columns) { %>
    <%=columns[i].columnName%>: {
        type: Sequelize.<%=columns[i].columnType%>, <% if (columns[i].required) { %>
        allowNull: false,
        validate: {
            notNull: true,
        },<% } %>
    },<%}%>
  }, {
    timestamps: true,
    paranoid: true,
    underscored: true,
  });

  return <%= cModelName %>;
};