<% let modelNameDao=`${modelName}Dao`; %>const <%= modelNameDao %> = require('../dao/<%= modelName %>.dao');

const abstractDao = require('./abstract.controller');

module.exports = {
  ...abstractDao(<%= modelNameDao %>),
}