const express = require('express');
const router = express.Router();

<% let controllerName =  `${modelName}Controller`;%>

const <%= controllerName %> = require('../controller/<%= modelName %>.controller');

router.get('/', <%= controllerName %>.findAll);
router.post('/', <%= controllerName %>.create);
router.put('/', <%= controllerName %>.update);
router.delete('/:id', <%= controllerName %>.delete);

module.exports = { 
  router: router,
  path: '/<%= pModelName %>' 
};
