'use strict';

module.exports = {
  up: (queryInterface, Sequelize) => {
    return queryInterface.createTable('<%= pModelName %>',  {
      id: {
        type: Sequelize.INTEGER,
        primaryKey: true,
        autoIncrement: true,
      },<% for (let i in columns) { %>
      <%=columns[i].columnName%>: {
          type: Sequelize.<%=columns[i].columnType%>, <% if (columns[i].required) { %>
          allowNull: false,
          validate: {
              notNull: true,
          },<% } %>
          field: '<%= columns[i].field %>'
      },<%}%>
      // Timestamps
      createdAt: { 
        type: Sequelize.DATE,
        field: 'created_at', 
      }, 
      updatedAt: {
        type: Sequelize.DATE,
        field: 'updated_at', 
      },
      deletedAt: { 
        type: Sequelize.DATE,
        field: 'deleted_at', 
      },
    });
  },

  down: (queryInterface, Sequelize) => {
    return queryInterface.dropTable('<%= pModelName %>');
  }
};
