module.exports = {
  up: (queryInterface, Sequelize) => queryInterface.addColumn('<%= rigthEntityTableName %>', '<%= leftEntityId %>', {
    type: Sequelize.INTEGER,
    allowNull: false,
    validate: {
      notNull: true,
    },
    references: {
      model: '<%= leftEntityTableName %>',
      key: 'id',
    }
  }),

  down: (queryInterface, Sequelize) => queryInterface.removeColumns('<%= rigthEntityTableName %>', '<%= leftEntityId =%>'),
};