const express = require('express');
const cookieParser = require('cookie-parser');
const logger = require('morgan');

const app = express();

const helmet = require('helmet');
const cors = require('cors');

<% if (auth) { %>const authRouter = require('./src/route/auth.router');<% } %>
const router = express.Router();
const routerApi = require('./src/route/index');

const HttpMessage = require('./src/utils/http.message');
const authenticationMiddleware = require('./src/middleware/authentication.middleware');

app.use(helmet());
app.use(cors());

app.use(logger('dev'));
app.use(express.json());
app.use(express.urlencoded({ extended: false }));
app.use(cookieParser());

router.get('/healthchecker', (req, res, next) => {
    res.send(new HttpMessage(200, 'ok.'));
});
app.use(router);

<% if(auth) { %>app.use('/auth', authRouter);
app.use('/api', authenticationMiddleware, routerApi);
<% } else { %>app.use('/api', routerApi);<% } %>

module.exports = app;
