module.exports = {
  development: {
    database: process.env.DB_NAME || '<%= appname %>',
    username: process.env.DB_USER || 'admin',
    password: process.env.DB_PASSWORD || '12345',
    host: process.env.DB_HOST || '127.0.0.1',
    dialect: 'postgres',
    <% if(auth) { %>secret: 'secret',
    chipherMethod: 'sha512',
    expiredTime: 3600000,<% } %>
  },
};