version: '3'
services: <% let containerName = `database.${appname}` %>
  <%= containerName %>:
    image: postgres:9.5-alpine
    container_name: <%= containerName %>
    env_file: ./envs/database.env
    ports:
      - "5432:5432"